[2015-01-28 14:59] timkelty opened #2 "Add README"

[2015-01-28 14:59] timkelty opened #3 "Add tests"

[2015-02-21 12:45] alpacaaa commented on #2
I was randomly googling for a way to have shared files in shipit, looks like you got it! Even a simple README would be awesome to start using this. Thanks :+1:

[2015-02-21 15:24] timkelty commented on #2
I know, I'm sorry about that!

I'll work on it for this (and all my other shipit tasks) this weekend!
Thanks for calling me out, needed it.

[2015-02-21 16:51] alpacaaa commented on #2
Hey don't worry! And thank you for looking into it! :)

[2015-02-23 14:13] #2 closed, assigned to nobody

[2015-02-23 14:15] timkelty commented on #2
All set, @alpacaaa

[2015-02-23 15:36] alpacaaa commented on #2
Looks great man, thanks ;)

[2015-02-23 15:36] timkelty commented on #2
I'll add some tests when I get time too.

[2015-02-24 12:36] alpacaaa opened #5 "config.dirs and config.files shouldn't be required"
Finally got a chance to try this, I noticed that it breaks if you don't specify either `dirs` or `files`. Gonna send a pull request soon!

[2015-02-24 14:01] #5 closed, assigned to nobody

[2015-02-24 14:02] timkelty commented on #5
Thanks! Yet another reason I need to add some tests.

I basically did what you did, but also added an init method for setting any kinds of defaults.

[2015-02-24 16:49] alpacaaa commented on #5
Awesome thanks!

[2015-03-23 17:12] tlartaud opened #7 "Symlink target issue"
Hi there,

Thank you for for your node. its usefull.

I'm using some Chrooted environments on my remote, so my deploy user, and apache, use different root paths. shipit-shared us the "deployTo" path which is for the deploy user. The apache user may have some really different rights on some servers configurations.

Is there a way to allow shipit-shared to use symlinks on files as this :
`ln -s ../.

[2015-03-23 21:27] timkelty commented on #7
Should be, I'll look into it tonight.

[2015-03-24 16:11] timkelty commented on #7
@tlartaud Would it work for you if `shipit.config.shared.baseDir` would allow for an absolute path (starting with a /), in which case it wouldn't be relative to the `deployTo` path?

So your `grunt.shipit.config.shared.baseDir` would be `/httpdocs/shared`

[2015-03-24 16:54] timkelty commented on #7
Let me know if that solves your issue.

I published this to https://github.com/timkelty/shipit-shared/tree/2.1.0

[2015-03-25 09:51] tlartaud commented on #7
I've already tried the absolute path. The absolute path might NOT work because my deploy user do not have the same paths to the website, than the apache user.

Example
Web site path as apache user : `/var/www/vhosts/domain.com/subdomain.com`
Web site path as chrooted / deploying user : `/subdomain.com`

Well, if i do this, the symlink created will be :
`ln -s /subdomain.com/shared/.env .env`
which

[2015-03-25 13:47] timkelty commented on #7
I'm not seeing how using an absolute path and this latest update wouldn't fix this.

In your shipitfile:

[code]

Note, this will only work with the latest version. It basically does what you suggested, but without the additional setting. If the path is relative (not starting with /), it will make it relative to the `deployTo` path, but if it is absolute, it will take it as is.

[2015-04-09 09:42] tlartaud commented on #7
Hi,

I apologize for the answer time .. i've been really busy theses last days.

I tried your solution, with last updates. Symlink creation works fine, but results paths are not correct for my server configuration.

This is my config file

[code]

As you can see, i am deploying with shipit, using a chrooted user.
When shipit deploy to `/staging.domain.org`, the corresponding path for apache on my

[2015-04-09 09:57] tlartaud commented on #7
I also tried to change `"baseDir": "shared"` to `"baseDir": "/var/www/vhosts/domain.org/staging.domain.org/shared"` but it does not work. Returns the following error

[code]

Which is normal, because i am connected with a chrooted user which do not have access to `/var/www`, because his chrooted path is `/var/www/vhosts/domain.org/`

I only need to prepend symlinks paths with my own custom path, w

[2015-04-09 12:28] timkelty commented on #7
I see now, thanks.
Yes, the second example is what I was expecting (setting `baseDir` to  `/var/www/vhosts/domain.org/staging.domain.org/shared`), but I see now your permissions problem.

I'll take a look at your PR and merge it in.

[2015-04-09 13:30] tlartaud commented on #7
Thank you :)

[2015-04-09 21:06] timkelty commented on #7
If I understand correctly, your issue is with the permissions on the `mkdir -p` command, right?

If you set your `baseDir` to `/var/www/vhosts/domain.org/staging.domain.org/shared`, wouldn't it work if you could optionally skip the `shared:create-dirs`? You could test this by running `shipit shared:link`.

That way, _once_, you could either create the dirs manually, or run `shipit shared:dirs` wit

[2015-04-09 21:14] timkelty commented on #7
If that suggestion works, I'd rather add that option, as it's not so specific, and because I'm not thrilled about the fact that `shipit-shared` already hooks into `published` for you with no option not to.

So we might have an option that was `onPublished` that defaulted to `shared`, but in your case you would change it to `shared:link`, or it could be `false` for no deploy hook at all.

[2015-04-11 10:22] tlartaud commented on #7
dude, do you know what a chroot is ?

"If I understand correctly, your issue is with the permissions on the mkdir -p command, right?"
What ?
No .

My issue is about paths written inside symlinks files that are not correct. Did you read my post. I d'ont know how i can explain this better than with full explanation + a pull request....

[2015-04-11 10:31] tlartaud commented on #7
its NOT a permission issue. It is chroot.

Server structure

[code]

As you can see in that structure, the chrooted user cant access any of the parent folder of domain.org.

"That way, once, you could either create the dirs manually, or run shipit shared:dirs with the non-chrooted user, and then never do it again."
If i use shipit-shared, this is for auto-generating the base structure. if it doesn

[2015-04-11 10:41] tlartaud commented on #7
"I'm just wondering if an option to skip the creating of the dirs every time is a better option, rather than adding such a specific option as you've suggested."

i think that if i add `/var/www/vhosts` in baseDir, i will always have some problems every time i try to run a command from your script, because `/var/www/vhosts` DOES NOT EXISTS in the chrooted environment. It's not that the user does no

[2015-04-13 15:26] timkelty commented on #7
I know what a `chroot` is, I was just misunderstanding your issue.

I think it might make more sense just to simplify the options a bit.
- `shipit.config.shared.path` would now just be the full path to the remote shared dir, defaulting to `path.join(shipit.config.deployTo, 'shared')`
- `shipit.config.shared.symlinkPath` would be the source for the created symlinks, defaulting to `shipit.config.sha

[2015-04-16 10:49] tlartaud commented on #7
Hey there,

I just tried to deploy a new fresh website with your last node version.
It now works like a charm, and i really appreciate it. Thanks a lot.

The only "bug" that is still remaining, is that symlinks are not created if the source path (eg. `/staging.domain.com/shared/public/.htaccess`) does not exists.
Wouldn't it be a great idea to keep the same behavior for files and folders ?
I mean,

[2015-04-16 11:00] tlartaud commented on #7
It also give me another idea, you could really improve our development workflow, by allowing us to upload the missing files from our local environment, so we could have some option like below

[code]

This could be really awesome, because with that options, we don't even need to connect via SSH or FTP to our server to copy or create the missing and required files into the shared folder.

What do y

[2015-04-16 11:32] tlartaud commented on #7
Well,

I think i spoked to fast ..

Checkout 7-chroot branch, ran npm install, deployed.
Absolutely no symlink are created for the files. However, it work for the folders.

My complete config file

[code]

Am i doing something wrong ? As i can see in your last post, you wrapped the "staging" array into "shared", but i think its a mistake, right ?

The result on remote server

[code]

As you can se

[2015-04-16 11:34] timkelty commented on #7
Nope, but I'll look today.

This is a good excuse to get some tests in here so we don't keep running into this stuff, too :).

[2015-04-16 11:36] tlartaud commented on #7
Ok, i know why it failed.

My console

[code]

The wrong argument is

[code]

and should be

[code]

EDIT : After thinking about it, i may correct myself, this previous test should be simply removed, as it force the symlink creation to already have a file in place before creating it. Thats why it fail in some cases. It could work for my `.htaccess` if i remove it from the `ignores`array, but as de

[2015-04-16 12:45] tlartaud commented on #7
I think that ideally, the result command should be this

[code]

Untested but it should work well.

[2015-04-16 13:12] tlartaud commented on #7
Final solution tested and working for me. I changed link.js line 28 https://github.com/timkelty/shipit-shared/blob/issues/7-chroot/tasks/shared/link.js#L28 to this.
[code]

[2015-04-16 13:57] tlartaud commented on #7
Final solution tested and working for me. I changed link.js line 27 to 32 https://github.com/timkelty/shipit-shared/blob/issues/7-chroot/tasks/shared/link.js#L27 to this.

[code]

And in init.js

[code]

And you can replace all

[code]

by

[code]

( -r argument on a file won't throw an error )

Alternatively, you can choose to not join paths in init.js, but you should warn users that they need to

[2015-04-16 17:46] timkelty commented on #7
Nice!

Hmmm....I think I'm going to opt to _not_ do the path joining in `init.js`. A little more config, but it just seems more clear what is going on, that you can fully override the `sharedPath` and the `sharedSymlinkPath`.

[2015-04-16 17:59] timkelty opened #9 "Add option to upload files from local environment"

[2015-04-16 17:59] timkelty opened #10 "Option to create files if they don't exist"
https://github.com/timkelty/shipit-shared/issues/7#issuecomment-93740797

[2015-04-16 18:00] timkelty commented on #10
Related to https://github.com/timkelty/shipit-shared/issues/9

[2015-04-16 18:01] timkelty commented on #7
I like the creation/upload ideas you had:
https://github.com/timkelty/shipit-shared/issues/9
https://github.com/timkelty/shipit-shared/issues/10

[2015-04-16 18:02] timkelty opened #11 "Create dirs should work locally"
Using `shipit.config.shared.remote = false`

[2015-04-16 18:03] timkelty opened #12 "Option to set permissions on files/dirs"

[2015-04-16 18:06] timkelty commented on #7
@tlartaud I pushed those changes, can you make sure they work for you?
https://github.com/timkelty/shipit-shared/tree/issues/7-chroot

[2015-04-16 18:07] timkelty opened #13 "Should be able to opt-out of triggering on 'published'"

[2015-04-17 09:05] tlartaud commented on #7
Oh My God ...

I'm losing my head ...

I didnt try,

THIS WILL NOT WORK.

Please dude, i take so much time to report the problems, you do not even read me.
What is that please ? `if [ -e %(source)s ];` WHY do you need to check if source file exists ??? Don't do that, we dont need that and it will block all symlinks creation that do not have a file in place before creating the symlink.

AS i said,

[2015-04-17 09:13] tlartaud commented on #7
"I like the creation/upload ideas you had"

Yep :)
At first, i created my own solution based on shipit which was working, until i found your node. I like the config array implementation you did so i switched to your solution. I had also implemented a system to let me upload the files if they exist locally. This was really usefull.
I just hope i can do so with your node soon :)

[2015-04-17 09:42] tlartaud commented on #7
If you absolutely need to keep `if [ -e %(source)s ];`, i suggest you to replace it with
[code]

Like this The symlinkpath will be removed from the source path like this
[code]

The idea is there to remove the full symlink path normally used INSIDE symlinks files, so we can access the file, while connected a chrooted_user, to check if it exists or not.

[2015-04-17 10:00] tlartaud commented on #7
Alternatively, you can substr remove in javascript if you prefer, and keep testing file existence with something like `if [ -e %(source)s ];`

You can do it like this (not tested, but should work)
[code]

[2015-04-17 10:01] tlartaud commented on #7
I give up now. Just so bored :(

[2015-04-17 10:17] tlartaud commented on #7
PS : I'm sorry, i just deleted my 2 olds comments. i was looking at the 7-chroot and didn't see the changes you made. Sorry.

I will make a last test with your merged version and let you know if it works for me.
Thanks for listening to me :) i appreciate a lot.

[2015-04-17 12:12] tlartaud commented on #7
- Removed my node_modules folder
- Ran `npm install`
- Checked out shipit-shared master branch in node_modules + `npm install`
- Ran `grunt publish:staging`
- There were still some hard errors that i've fixed. Use this code and everything will be fine

[code]

I fixed some typos errors in the bash command.

Success !

[code]

The config file used

[code]

I hope that helps

[2015-04-17 12:31] timkelty commented on #7
@tlartaud Ok, I pushed that to `master` and `issues/7-chroot`, give it a shot.

Also - I don't think `"baseDir": "shared",` is doing anything in your config :)

[2015-04-17 12:32] tlartaud commented on #7
Yep, you are totally right, i've just added it back for sample purposes.
I'll check out your last changes and let you know.

Thanks.

[2015-04-17 12:54] tlartaud commented on #7
@timkelty sorry, last fix

[code]

[2015-04-17 13:19] tlartaud commented on #7
@timkelty I am just wondering myself if it wouldn't be better to create symlinks which looks like this

[code]

I didn't test yet, but maybe that if the source symlink include `current` instead of `releases/8957436508605`, it will prevent the release name to be registered in the database (for example when a php script read a file and store his dirname() path in the DB). So, all the dirname paths r

[2015-04-17 13:30] timkelty commented on #7
@tlartaud Ok, Pushed that last fix.

[2015-04-17 14:13] tlartaud commented on #7
@timkelty Thanks a lot. It works fine now.

I've tested the thing about dirname(), and it always return the full path, so we can't make php use `current` instead of `releases/8957436508605`, it's up to the user to make sure that any release number is stored inside the database ...

Maybe that you should prefer this in init.js so the option is not required (i think grunt will throw an error if ship

[2015-04-17 14:18] tlartaud commented on #7
Just a strange behaviour,
i made a mistake in my config file, and i had

[code]

I replaced it with the correct one and merged and pushed to all branches

[code]

The strange thing is that i had to totally remove current/ and releases/ folders on my remote and deploy again, otherwise, each time i deployed, i got symlinks created with `current` value instead of `shared`. Really strange. Dunno why,

[2015-04-17 14:18] #7 closed, assigned to nobody

[2015-04-17 14:21] timkelty commented on #7
@tlartaud Grunt, or JS in general should be fine with

[code]

Since `shipit.config.shared` is always going to be defined at that point, `shipit.config.shared.symlinkPath` will just be `undefined`, and it will take `shipit.sharedPath`

[2015-04-17 14:23] timkelty commented on #7
Glad we worked this one out!
Next on my list is to get some test in here so working through this won't be so tedious.

[2015-04-17 14:23] timkelty commented on #7
@tlartaud in the `link` method, should the `rm -r` be `rm -rf`?

[2015-04-17 14:30] tlartaud commented on #7
@timkelty
- yeah, maybe for `rm -rf`. It depends on the server configuration. In my case, i am connected as a chrooted user, so all the file are owned by him, so i don't have this problem, `rm -r` will always be working for me, maybe not for others servers configurations.
- yeah, im sure you are right for `shipit.sharedSymlinkPath = shipit.config.shared.symlinkPath || shipit.sharedPath;`, i'm not

[2015-04-18 13:12] alubbe opened #14 "existing to-be-linked directories aren't removed"
I was just about to create a PR for this issue when I saw that it's fixed in master :)
Any ETA on when you'll push the next release onto npm so I can throw out the git url?

[2015-04-19 21:43] timkelty commented on #14
I'll make a release tomorrow

[2015-04-20 21:13] timkelty commented on #14
Just released `3.0.0`. Note the option changes, see README

[2015-04-28 17:07] #14 closed, assigned to nobody

[2015-04-30 07:13] zygis opened #17 "rm -r if directory exists?!"
If linked directory already exists with some files inside, best option delete all?! It's a terrible idea. Never happened before like this with capistrano. Why not copy folder content to ../shared/.. and then do remaining stuff?

[2015-04-30 13:32] timkelty commented on #17
I agree, seems a bit extreme.
Here's where it comes from in `cap`: https://github.com/capistrano/capistrano/blob/master/lib/capistrano/tasks/deploy.rake#L108

I'm open to a PR to change this, or I can try and look at it soon.

[2015-05-09 09:20] tlartaud opened #18 "Symlinks for files not correctly created"
Hi,

I come back to you because i found a syntax error which cause symlinks for files not always working.
See incoming PR for more informations.

[2015-05-09 09:22] tlartaud commented on #18
The old syntax leave an error

[code]

The new one is ok

[code]

[2015-05-09 09:36] tlartaud commented on #17
I agree with that using rm -R is a bit destructive, but in fact, in some cases, we'll need it.

Let's assume that a user already prepared his shared folder before publishing the first time. the target folder in shared folder will already exist, so the directory will not be copied to the shared folder because something there already exists, so the last option i see is to move the folder in the tmp

[2015-05-09 10:47] tlartaud commented on #17
The following structures represent how i use, and how i think we should use symlinks. Let's assume we want to have an `uploads` folder in our app, but we want it to be stored in the shared folder on the remote.

Local structure

[code]

Git structure (files inside uploads are gitignored)

[code]

Remote structure

[code]

When shipit-shared perform the `rm -r`, it's on the git structure. So i don'

[2015-05-09 10:54] tlartaud commented on #17
Plus : alternatively, you can actually add `app/uploads` to the `ignored files` array in your shipit config, so no directory will exist in that place after deploying, so your symlink can be created without deleting any file or directory.

[2015-05-09 12:43] zygis commented on #17
How hard it can be?:

[code]

Most common problem with rm -fr and first deployment:
node_modules shared folder, "shipit-shared" module runs after "shipit-npm", so you have to deploy repo twice... Not very good experience...

Next problem: README.md I can't see any of these word "remove", "rm -fr", "lost", "backup first". So if I have repository and after few months decide to move one folder with l

[2015-05-09 15:40] timkelty commented on #17
Not hard, I just haven't had time, sorry. I'm open to PR, otherwise I'll try and do it this weekend.

[2015-05-10 09:41] tlartaud commented on #17
@zygis You also use `rm -fr` in your code. I don't see how your solution answer your query about `rm -f`which is too destructive.

Finally, your question is just related about the following feature request, not to delete `rm -fr` : https://github.com/timkelty/shipit-shared/issues/10 (add Option to create files if they don't exist).
And the copy should really be an option, and not be executed every

[2015-05-10 09:50] tlartaud commented on #17
@zygis

Don't worry, i'm not shipit-shared author, you don't have to trust me ;) I'm just a shipit-shared user, and i'm just giving there my mind and advices about this subject.

[2015-05-10 09:53] tlartaud commented on #17
@zygis

Can you explain more about this ? I personally don't need to publish twice. It's interesting me, can you pls explain in which case and why you'll need to publish twice ?

[2015-05-10 10:39] tlartaud commented on #17
@zygis @timkelty I think that something similar to that could solve the problem

[code]

json

[code]

What do you think ?

[2015-05-11 07:20] zygis commented on #17
@tlartaud

Yes sorry, didn't noticed.

Just "shipit-npm" completes his job first, but after "shipit-shared" and this rm -fr problem node_modules folder is empty. This problem exist for the first deploy only. But if I have to deploy ~50 micro services to new server - it's pain in ass...

Example above is ok, but most important is "smart defaults", or at least clear documentation :)

[2015-05-11 09:59] tlartaud commented on #17
@zygis

I can't understand this sry.i don't get why you're talking about an empty node_modules folder :/

[2015-05-11 10:00] tlartaud commented on #18
@timkelty do you agree with that fix ?

[2015-05-11 10:59] zygis commented on #17
@tlartaud
sequance done on server:

[code]

At this state I can't start application. Why? Because node_modules folder is empty...

[code]

I have to do: _shipit production deploy_ and then _shipit production deploy restart_

[2015-05-11 11:30] timkelty commented on #18
I think so, yep. I'll review and merge it in later today.

[2015-05-12 11:22] tlartaud commented on #17
@zygis nodes_modules in a shared folder ? Your app looks strange ^^
do you really need to get your nodes_modules online ? Will you really run grunt tasks directly on production server ?

Tip : You should prefer using your apps like that way so you make sure that folders like node_modules are not accessible from the web without any other apache configuration.

[code]

(and point your web vhosts to

[2015-05-12 11:31] tlartaud commented on #17
@zygis This is some example tasks to show you to bind event or do some actions locally or even remotely, when you need them.
For example, i run composer online, because composer is dependent from php, and has my php versions & modules installed can be different locally and remotely, i need it to be executed remotely, with the proper php installation.
You also have an example for running a sh scrip

[2015-05-12 12:16] zygis commented on #17
@tlartaud

I don't use apache, and all my applications are REST only, not a single file aren't exposed to public...

You probably don't know how node.js applications work. node_modules folder contains all dependencies that included in a running application at runtime. Application can't work without dependencies. Theoretically you can run npm install on local side, and then upload to remote, but so

[2015-05-12 12:32] timkelty commented on #17
Sorry, I've been really busy and haven't had time to chime in, but I will try and get this addressed this week. And as always, PRs are welcome.

[2015-05-18 15:53] timkelty commented on #17
Review all of this now...beginning to see the issue.

@zygis I think the reason I haven't seen this come up before is I've never seen anyone put their `node_modules` dir as a shared dir. I've always just had it run `npm install` in `current` and leave it at that.

Also, defining `node_modules` as shared seems a little dangerous to me, as it seems like things might break when rolling back, if there

[2015-05-18 16:06] timkelty commented on #18
shipit-shared@3.1.1

[2015-05-18 16:06] #18 closed, assigned to nobody

[2015-05-18 18:04] zygis commented on #17
@timkelty

Yes.

Removing _node_modules_ folder or changing it's contents usually is not a problem, because all modules required are already running on RAM, and usually doesn't need to hammer disk. Of course if you have dynamically loaded modules probably this could be issue, but my applications requiring all needed modules at startup. And I know what I am doing (or at least I think I know :) )

N

[2015-05-18 18:41] timkelty commented on #17
Got it. We'll figure something out that works for you.

I realize [your solution](https://github.com/zygis/shipit-shared/commit/302eda26b08101bd98d13d51e904fa9d2abc313e) pretty easily takes care of your use case, but I'm wary of fixing it that way just because that behavior seems just as unexpected to me.

Yes, but since `shipit-deploy` copies the entire previous release first, it shouldn't be ins

[2015-05-18 18:45] timkelty commented on #17
@zygis what about something like this in your shipit config?

[code]

`npm_installed` in an event emitted by `shipit-npm`.

[2015-05-18 20:46] tlartaud commented on #17
@timkelty since shipit-deploy:cleanup (last task) create the symlink from `current` to the last `release` folder, you have to avoid using `shipit.currentPath` in your task, else you will not be working on the expected release (i mean, not the publishing one).

The following should work on the first remote deploy

[code]

[2015-05-18 20:48] timkelty commented on #17
That's right, thanks @tlartaud.

[2015-05-18 20:52] tlartaud commented on #17
@timkelty that said, i can't find any documentation on shitpit-deploy related to the `npm_installed` event, so i don't know if `shipit.releasesPath` and `shipit.releaseDirname` are already set on this event. If this is not working, maybe we can use the `published` event instead of  `npm_installed`

[code]

[2015-05-18 20:56] timkelty commented on #17
Here's what I'm considering:
On deploy..
- shipit-shared checks if the symlink target in `current` exists
- if it does, it alerts you, and asks if you want to delete it, copy to shared, or abort.

Would this satisfy both of you? @tlartaud @zygis?

[2015-05-18 21:08] tlartaud commented on #17
@timkelty great idea ! sounds good for me, with some little involves maybe ;)
- shipit-shared checks if anything exists on the target place inside `path.join(shipit.releasesPath, shipit.releaseDirname)`
- if something is found, it alerts you, perfom a `ls -al` on the console to show the user what files are in this place
- and asks if you want to
  - delete it
    - and then creates the symlink
  -

[2015-05-18 21:27] tlartaud commented on #17
@timkelty and instead of a prompt, it would be better i guess to have the configuration stored for each file association in the config array like all the others shipit-shared configs. So, the config can be stored in the repo for team mates.

For example

[code]

and you can set `ifExists` default to `move` if not set.
`ifExists` means `if something exists where we try to create the symlink file`.

[2015-06-16 14:21] tlartaud commented on #17
@zygis @timkelty @kosssi

Hi guys, I've made a first approach about what we were talking about there ...

I've added a `--mode` option to use in each path, so we can use each file differently.

See commit for more details.
Any comment would be really appreciated.

[2015-06-19 13:43] timkelty commented on #17
Thanks @tlartaud - should get time to dig back into this today!

@zygis - would this fulfill your requirements?

[2015-06-20 10:17] tlartaud commented on #17
cool, do not hesitate to tell me if there is something you do not understand.
my code is not optimal, i'm not a javascript Guru, but i think it may work.
If you merge this, i'll update some code later, and add a new --chmod option, to set chmod on files/directories after they have been copied to the `shared` folder.
thx

[2015-07-03 09:37] tlartaud commented on #17
@timkelty dude .. you are so damn slow ....

[2015-07-06 12:03] timkelty commented on #17
Sorry man, been slammed with other work.
I'll work on this today and get it merged in.

[2015-07-08 19:20] timkelty commented on #17
Hi all,
Again, sorry for the delay, and I appreciate the pull-requests.

I've thought this through and while I see the benefit of doing things like backing up folders, moving, etc., I think it's overcomplicating what the task should be doing, and adding complexity for a potentially narrow use-case.

The core of this issue was the unexpected and undocumented use of `rm -rf`, which has been addresse

[2015-07-09 09:19] tlartaud commented on #17
@timkelty Wow, this is soooo bad. I'm pretty sure you didn't test what i did.
I give up, i totally give up and will make my own script.

Have a good luck with it.
Bye.

[2015-07-09 12:13] timkelty opened #23 "Consider option to move files from current to shared, if they exist"

[2015-07-09 12:29] timkelty commented on #17
Can you elaborate? That doesn't really help.

I did. I just didn't agree with the approach for solving this particular problem. The issue stated was that @zygis didn't expect his files in `current` to be removed (though this is exactly what happens in Capistrano). Users now have to opt-in to this, and it has been documented.

I'm not necessarily opposed to adding features to backup and move things

[2015-07-10 15:45] #12 closed, assigned to nobody

[2015-07-10 15:48] timkelty commented on #12
See https://github.com/timkelty/shipit-shared#chmod

[2015-07-10 15:48] timkelty commented on #13
See https://github.com/timkelty/shipit-shared#sharedtriggerevent

[2015-07-10 15:48] #13 closed, assigned to nobody

[2015-07-14 11:26] timkelty commented on #17
With the [latest update to shipit-npm](https://github.com/callerc1/shipit-npm/tree/v0.2.0), controlling the order of tasks is now easier:

[code]

[2015-07-14 11:29] timkelty commented on #17
Closing this issue. Happy to re-open if @tlartaud or @zygis have any constructive input.

Discuss issues related to moving files from `current` to `shared` here: https://github.com/timkelty/shipit-shared/issues/23

[2015-07-14 11:29] #17 closed, assigned to nobody

[2015-07-14 11:38] timkelty commented on #10
Closing as a duplicate of #9

[2015-07-14 11:38] #10 closed, assigned to timkelty

[2015-07-16 15:50] #3 closed, assigned to nobody

[2015-08-30 08:26] gjanvier opened #27 "Missing dependency normalize-path"
Hi,

In package.json, normalize-path is currently set in devDependencies : it needs to be in dependencies (it is used in lib/init.js).

Right now, the package does not work when it is imported in another project, with an error about that lib not found :(

[2015-08-31 12:16] #27 closed, assigned to nobody

[2015-08-31 12:26] timkelty commented on #27
So sorry, thanks for catching that!

[2015-09-09 04:55] tim-field opened #28 "Cannot read property 'triggerEvent' of undefined"
Started getting this error with no stack trace during command line usage. Maybe related to npm / node upgrades?

Cannot read property 'triggerEvent' of undefined

Just using like so in shipitfile.js file
require('shipit-shared')(shipit);

[2015-09-09 05:00] tim-field commented on #28
Duh, seems this project didn't need shipit-shared, and not having any shared config seems to cause this

[2015-09-09 12:08] timkelty commented on #28
ah hah! well it probably shouldn't throw an error.
I'll reopen to fix

[2015-09-09 16:08] #28 closed, assigned to nobody

[2015-09-09 16:19] timkelty opened #29 "Throw error if paths are nested"
e.g. this would get wonky:

[code]

[2015-09-09 18:51] timkelty opened #30 "Consider overwrite: true as default"
Currently, with the defaults, the shared task will always fail if you have a directory, because we `mkdir -p` on the source and target of the symlink.

Lets figure out the best way to avoid this.

[2015-09-15 16:23] timkelty opened #31 "all settings should extend base"
chmod only works on paths themselves

[2015-09-29 01:10] tlartaud opened #32 "Nothing is triggered"
Hi there,

I was wondering myself if for some months, your node finally works.
Apparently not, absolutely nothing is triggered/executed from your task while deploying with shipit.

The problem simply comes from there

[code]

See the comments to see why it will never work like this

[code]

Funny.

[2015-09-29 01:29] timkelty commented on #32
- **1.** Yes, this comes from Orchestrator, see Orchestrator's internal events, here: https://github.com/orchestrator/orchestrator#user-content-orchestratoronevent-cb. Notice `start`.
- **2-6.** `shipit.config` isn't set by shipit-deploy, it's set when you initialize `Shipit` with `Shipit.initConfig`. It seems your aren't initializing Shipit correctly.

If you want help, please post your full ship

[2015-09-29 09:25] tlartaud commented on #32
My shipit works absolutely correctly, everything works fine for my shipit tasks and deployment workflow.

The way i actually load Shipit should not interfer with the process.

A part of my Gruntfile.js

[code]

config/mastack/environments.json (yes, i know i could move it to shipit.js, inside tasks folder, but it should ALSO work like that)

[code]

Note : I'm going to try to move environments.jso

[2015-09-29 10:06] tlartaud commented on #32
Moved environments.json to .mastack/src/grunt/tasks/shipit.js, so you won't say my shipit is not loaded correctly. Removed environments.json.

The result :

[code]

Where is shipit-shared ?
Please, not that i had also edited your node, and added this to show you that your node IS NOT correctly loaded (at least for me).
In **/node_modules/shipit-shared/tasks/shared/index.js**
I changed the followin

[2015-09-29 11:41] tlartaud commented on #32
[code]

Result in :

[code]

**Quod erat demonstrandum**.

[2015-09-29 12:02] tlartaud commented on #32
One more :

[code]

[code]

The deploy event is triggered, as I expected.

[2015-09-29 12:28] timkelty commented on #32
My guess is it that it is related to running through Grunt/Jit. I'll try and do further testing with your config.

To rule things out, I would try your deploy using the `shipit-cli` instead of through Grunt.
E.g. `shipit production deploy`, with a `shipitfile.js`.

[2015-09-29 12:30] tlartaud commented on #32
Ok, will try such things.
My `publish` task is just an alias, no others things are binded on this task, so I can easily test with the standard shipit command.
Will also try to remove Jit.

I'll let you know.

[2015-09-29 12:38] tlartaud commented on #32
Have something new :

[code]

[code]

Going to try with shipit-cli directly as you asked for.

[2015-09-29 12:40] timkelty commented on #32
A side note: you wouldn't want to run `shared` on `deploy`, as it symlinks to `current`, so it would just get wiped out as `deploy` proceeds. That's why I have the default set to `updated` (an event from shipit-deploy)

[2015-09-29 12:44] timkelty commented on #32
Ah! I see you're not using `grunt-shipit`: https://github.com/shipitjs/grunt-shipit.

I believe that is expected/required if you are running shipit through grunt. Honestly I haven't done any work in Grunt in quite some time, I know it works as expected in through the cli and through Gulp...

[2015-09-29 12:51] tlartaud commented on #32
Im using grunt-shipit :

[code]

[2015-09-29 12:52] timkelty commented on #32
Oh ok, didn't see it in your Gruntfile, nevermind.

[2015-09-29 12:59] timkelty commented on #32
Yep - did some testing, it appears it is because you're running through Grunt. In anything else, shipit.initConfig is run and the shipit.config object is set. In Grunt that doesn't seem to happen quite the same...I'll do some investigating.

[2015-09-29 13:30] tlartaud commented on #32
Re, I just tried with Shipit-cli.

Works as expected.

[code]

The fact is that i really need to use grunt-shipit instead of shitpit-cli, because i have to communicate some datas between shipit and grunt.

Will continue to investigate on why it's not working with grunt.

[2015-09-29 13:32] timkelty commented on #32
Yep, same result here. It seems that `shipit.initConfig` isn't yet called.
Made issue here: https://github.com/shipitjs/grunt-shipit/issues/58

[2015-09-29 13:48] tlartaud commented on #32
Thanks a lot for posting this issue.
I also tried with `grunt shipit:production deploy` and got the same problem.

To resume my configuration, see below.
When I use grunt and shipit, I use a shipit.js located in `.mastack/src/grunt/actions` which is loaded with `load-grunt-config`

The relevant gruntfile.js parts (note: i removed deploy useless Jit static mapping)

[code]

shipit.js

[code]

[2015-09-30 13:48] timkelty commented on #32
@tlartaud can you call shared manually? (`grunt shipit:production shared`)

[2015-09-30 14:50] timkelty commented on #32
@tlartaud see my comment explaining things here: https://github.com/shipitjs/grunt-shipit/issues/58#issuecomment-144434568

So, for the time being, if you changed `shipit.on('start')` to `shipit.on('deploy')` AND add  `require('shipit-shared')(grunt.shipit);` to your config, it should work as expected.

A bit janky - but it will clean up once we get some PRs merged.

[2015-09-30 15:46] tlartaud commented on #32
@timkelty Ah yes, you right, i've changed the event to deploy, and added the require, but it looks like there is a sync issue. Not all shared tasks are being executed. It looks like the process end before it is completed.

[code]

[2015-09-30 15:48] timkelty commented on #32
Can you make a temporary Gruntfile.js that just does this shipit stuff and doesn't go through all the grunt-load-configs stuff? It will be easier to debug.

Something like this:
**Gruntfile.js**:

[code]

and run `grunt shipit:[env] deploy`

[2015-09-30 15:51] timkelty commented on #32
BTW if you're really in a bind, you should be able to do this manually just by running shared _after_ deploy, e.g. `grunt shipit:[env] deploy shared`

[2015-09-30 15:55] timkelty commented on #32
Also - shouldn't your default options be under `shipit.options`, not `shipit.default` when using grunt-shipit? https://github.com/shipitjs/grunt-shipit#example-gruntfilejs

[2015-09-30 16:08] timkelty commented on #32
@tlartaud  Try replacing:
`shipit.start('shared')` with `gruntOrShipit.task.run('shared')` in `shipit-shared/tasks/shared/index.js`

[2015-10-02 13:54] tlartaud commented on #32
@timkelty Thank you for your answers.
- `grunt shipit:[env] deploy shared` : thanks for that, but i prefer not using this, because i really want thoses tasks to be binded to a deploy event.
- From what I can read in `grunt-shipit` passing either default or options won't cause a problem :

[code]
- For the last point, getting : `Warning: gruntOrShipit.task.run is not a function Use --force to conti

[2015-10-02 14:27] tlartaud commented on #32
@timkelty Sorry, for the third point, I also needed to change the require in my Gruntfile to `require('shipit-shared')(grunt);` (and not `grunt.shipit`).
So, maybe we can check if `gruntOrShipit.task.run` is defined, and if not, just run the standard shipit task. It doesn't resolve the problem about orchestrator bindings not defined, so I must keep using the `deploy` event for the main function, b

[2015-11-17 17:21] tlartaud commented on #30
Hi @timkelty

I hope you are fine.

I was asking me there why I got some errors messages on `mkdir -p`

It doesn't fail on the really first publish, but you should know that shipit, before the `rsync` copy, perform a copy of all files from last release folder to new release folder. That's why mkdir fail, because on the second deployment, you are going to have symlink files in that place.

The opti

[2015-11-17 17:39] tlartaud commented on #30
@timkelty Well ... It appears that that even with a full config ... It does not work. Node broken... Once again xD

[code]

[2015-11-17 18:39] tlartaud commented on #30
I can confirm it DOESNTworks with the above configuration too.

[2015-11-17 18:54] timkelty commented on #30
Can you post the output of the error?

[2015-11-20 15:53] #31 closed, assigned to nobody

[2015-11-20 15:55] timkelty commented on #30
@tlartaud You can now set everything on the top level `shared` and have it inherited by `files` and `dirs`, so you could set `"overwrite": true, "chmod": "-R 755"` on `shared` and then just use strings.

Fixed in 4.2, https://github.com/timkelty/shipit-shared/issues/31

[2015-11-26 15:33] Yvem commented on #32
:+1: same problem here. Still reading your exchanges.

[2015-11-27 09:31] Yvem commented on #32
I ended up not using shipit-shared :cry:

[2015-11-27 09:47] tlartaud commented on #32
@Yvem yeah, i think I will end up doing same, or maybe refork this project and work on my own version. Timkelty never want to merge fixes, to speak about our ideas, and he never wants to work on the issues that make the node completely broken. Its one update every 6 months.
That's a shame ... the idea of this node was so great.

[2015-11-27 09:48] tlartaud commented on #32
@Yvem do you have an alternative in mind that works fine with shipit ?

[2015-11-27 09:58] Yvem commented on #32
Quite brutal, for my needs were simple :

[code]

[2015-11-27 09:59] Yvem commented on #32
Timkelty is most likely not doing grunt / js anymore. Forking may be a good option.

[2015-11-29 22:51] weotch opened #33 "Allow relative paths (and/or support ~)"
I was hoping to be able to use `~` in my `deployTo`, like `"~/myapp/staging"`.  However, [the tilde doesn't work](http://unix.stackexchange.com/a/151865) when it's used with quotes like:

[code]

Are the quotes surrounding the paths even necessary? FWIW, I tried using `$HOME` instead of `~` but it breaks some of the `shipit-deploy` stuff.

[2015-11-30 13:34] timkelty commented on #32
Sorry to disappoint you guys, I just haven't had the time to look into this. I haven't used Grunt for a long time (though I still use Shipit/shipit-shared regularly), so this issue just hasn't been on my radar.

Despite what @tlartaud says here, I'm more than open to discussion and merging in PRs.

[2015-11-30 14:07] timkelty commented on #33
I'd have to do some tests, but I'm pretty sure the quotes are necessary in many cases (a folder with a space).

Seems like we should be able to get `$HOME` working though...

Have you tried defining `deployTo` as a relative path (`myapp/staging`)? That should have the same result as using '~', since everything will just be relative to the SSH'd user's `$HOME`

[2015-11-30 17:05] weotch commented on #33
Yeah, I expect you're right about that.

Just did, that works!  Thanks for the suggestion.

[2015-12-08 23:18] weotch commented on #33
Just realized today that this solution actually didn't work.  Errors weren't being thrown but the symlinks were bad, they pointed to directories that didn't exist.

I tried to manually expand my tildes like this:

[code]

The `shared:link:dirs` task does use the modified `shipit.config.deployTo` but the `shared:create-dirs` task doesn't, using the original, tilde-ed `deployTo`.

##

I can just use

[2015-12-09 12:18] timkelty commented on #33
Thanks, i'll keep this open and think about a better solution.

[2015-12-10 13:33] diggy commented on #32
@timkelty I would love to see this issue resolved. Right now, `shipit-shared` does not seem to work with Grunt out of the box. Patching `/node_modules/shipit-shared/tasks/shared/index.js` with @tlartaud's [snippet](https://github.com/timkelty/shipit-shared/issues/32#issuecomment-145037233) does the trick, but for obvious reasons hacking the package is far from ideal.

I managed however to get some

[2015-12-10 13:34] timkelty commented on #32
I realize all Grunt users are experiencing this, and I'm sorry. I plan on looking at it today, thanks for your workaround!

[2015-12-11 05:29] timkelty commented on #32
@tlartaud @diggy @Yvem I believe I have a fix for you.

My tests with Grunt show it working, but I'd like you all to test before I publish.

Please change the `shipit-shared` line in your `package.json` to:

[code]

...and run `npm install`.

It is also important to note that the fix will require the latest (just published) version of `shipit-cli` (1.4.1).
If you're not sure, just delete `node_mod

[2015-12-11 10:26] diggy commented on #32
@timkelty I just tested, seems like it's working fine now!

If you're considering a new release, maybe update the `shipit-deploy` dependency to `^2.1.2` (allows to hook into the `deployed` event)?

[2015-12-11 13:17] timkelty commented on #32
@diggy great. I'll bump `shipit-deploy` too, but technically with the `^` there, when you delete/reinstall `shipit-shared`, it will install the latests (`2.1.2`).

[2015-12-11 14:06] timkelty commented on #32
Ok, `npm install shipit-shared@latest --save-dev` should get you the latest, (4.3).
Closing issue, If there are any problems, I'll reopen!

Note: If you're having problems make sure you have the latest `shipit-cli`.

[2015-12-11 14:06] #32 closed, assigned to nobody

[2015-12-14 09:57] garygreen opened #34 "Paths"
The docs are a little confusing about the `path` property when you already define the path above it. Why do you need both `config/environment.yml` and `path: 'config/database.yml'` ? I'm really confused by that structure (especially how the path is outside the object)

[code]

[2015-12-14 13:07] timkelty commented on #34
I agree the docs need some clarificaiton.

When you symlink `files`, you need to specify each one. In this case I need both files `config/environment.yml` and `config/database.yml` to be symlinked.

As for `config/environment.yml` being a string and the other being an object, that's just an example of how they can be either. If you want use all default options, you can just specify paths as string

[2015-12-14 13:21] garygreen commented on #34
Oh ok thanks. I totally missed that they were separate `dirs` and `files` -- does symlink really care? Not sure there needs to be a distinction? Everything in linux is a file.

I think docs do need a bit more clarification as it had me a bit confused. It may be an idea to promote either an array of objects OR an array of strings but not a mixture (even though it's supported). It's a bit confusing

[2015-12-14 13:34] timkelty commented on #34
`files` and `dirs` being separate initially comes from the fact that `shipit-shared` started as a port of the 'linked_files`/`linked_dirs` functionality from [Capistrano](http://capistranorb.com/documentation/getting-started/structure/)

If they're not separate, it becomes a headache to determine when and where we need to create the necessary parent directories.

[2015-12-14 13:36] timkelty opened #35 "Clarify options (path strings vs. objects) in docs"

[2015-12-14 13:37] timkelty commented on #34
Docs in general need help :grimacing:

I'll close this in lieu of https://github.com/timkelty/shipit-shared/issues/35
I'll try and get to it soon, otherwise open to PRs.

[2015-12-14 13:37] #34 closed, assigned to nobody

[2015-12-15 17:33] tlartaud commented on #30
@timkelty
Hi,

This won't fix anything. As I said, the process is broken.
The first deploy run fine, the second one will fail if I don't manually remove all the symlinks created on the first deploy. See logs below.

[code]

**Explanations of why it fails on the second deployment**
Reading this log is enough to clearly understand what is happening. Here are the main steps :
- Shipit-deploy create t

[2015-12-15 18:00] diggy commented on #32
@timkelty I just ran into an error that is probably related to this issue. It popped up after switching from `load-grunt-tasks` to `jit-grunt`, using `shipit-shared` 4.3 and `shipit-cli` 1.4.1. I can live without `jit-grunt` but I guess it points to an underlying issue hence this report. Here's the verbose output:

[code]

[2015-12-16 04:10] timkelty commented on #30
This isn't non-sense. `shipit-deploy` does this so the following `rsync` command will take a fraction of the time. Otherwise `rsync` would have to copy all files on deploy, regardless of any change. I don't believe `shipit-deploy` has an option to disable this.

[2015-12-16 04:29] timkelty commented on #30
Can you give me some information about your remote environment?

`mkdir -p`[should NOT throw an error if the target already exists](http://www.openbsd.org/cgi-bin/man.cgi?query=mkdir&apropos=0&sektion=0&manpath=OpenBSD+Current&arch=i386&format=html), be it a folder or symlink. It doesn't for me, or anywhere else I've seen.

Regardless, this should be easy to circumvent with a simple test, but I'm

[2015-12-16 04:32] timkelty opened #36 "Possible incompatibility with jit-grunt"
See @diggy's comment: https://github.com/timkelty/shipit-shared/issues/32#issuecomment-164842377

[2015-12-16 04:33] timkelty commented on #32
Thanks @diggy, made an issue here to track that specifically: https://github.com/timkelty/shipit-shared/issues/36

[2015-12-16 08:25] tlartaud commented on #30
Yes, I really feel this is a non-sense. What happens if in my branch, i delete some files, and then push my site live ? Thoses files will remain on the remote because it has been previously copied from the last release. I didn't look at rsync arguments, so maybe they are correctly set and make delete the file that are not anymore in the built tmp/workspace folder, I didn't test, but i'm really not

[2015-12-16 09:53] tlartaud commented on #30
Hmmm, strange.

Following test is working on the remote

[code]

Trying to make more tests...

[2015-12-16 10:13] tlartaud commented on #30
Ok, I got it and know what is happenning. You were right in one point. mkdir -p won't throw an error if a symlink is found, but it will in the case that the symlink cant be followed. Here is how I reproduced the bug

[code]

In my case, I'm working on a chrooted environment. So, when my deploy user connect to the remote, he's located in the path `/var/www/vhosts/domain.com`. I use the symlink conf

[2015-12-16 10:22] tlartaud commented on #30
The proper solution is simply to change the path so you create subfolders directly where they should go without passing by the symlink which cant be read by the deploy user on chrooted environment.

So, instead of this command

[code]

We should normally execute this one directly without going trough the symlink

[code]

Voilà ;)

[2015-12-16 10:54] tlartaud commented on #30
In create-dirs.js, I can read this function

[code]

I added a line of code (didn't try yet, push is running), I think it should do the trick

[code]

Will let you know if that works.

Note : Could you explain why you use the release path instead of the shared path for creating those subdirectories ? Any specific reason ?

Regards.

[2015-12-16 13:12] timkelty commented on #30
[If you look at the code](https://github.com/timkelty/shipit-shared/blob/master/tasks/shared/create-dirs.js#L28-L29), and even your output, it _is_ making directories in `shared` as well. It is ensuring the directory structures exist in **both** `shared` and `releasePath`, so that the symlink can succeed.

I see your problem with a symlink that can't resolve w/ a chrooted env, and I will address i

[2015-12-16 13:19] tlartaud commented on #30
Okay, this is my final report related to this issue (even if, sorry, this is not related to the overwrite option).

The issue I'm facing is about a conflict/bug when using the `symlinkPath` option. I know you are not using that option because you made it available for me when i asked for it, but if we use it, actually, it fails on the second deployment.

I've tested it by removing the `current` sy

[2015-12-16 13:25] timkelty commented on #30
Thanks, I'll try and get you a fix this week.

[2015-12-16 13:40] tlartaud commented on #30
Okay thank you. I'll use my fix for now. Do not hesitate to ask me if you need me to make some tests before merging.

[2015-12-16 13:59] timkelty opened #37 "mkdir -p can fail in chrooted environment"
https://github.com/timkelty/shipit-shared/issues/30#issuecomment-165056217

[2015-12-17 06:21] timkelty commented on #37
@tlartaud can you try this branch: https://github.com/timkelty/shipit-shared/tree/fix-create-dirs-chroot

[code]

Basically what I did was make sure the process doesn't exit if the `mkdir -p` commands return an error. Instead, a warning message will print out, and the Shipit process will continue (set-permissions was already behaving this way).

So in your case, it should create the dirs for the _

[2015-12-17 10:08] tlartaud commented on #37
Hi,

I'm okay with the idea, its fine. Will try that in a few hours an will let you know if that works for me.
Thanks.

[2015-12-17 10:11] tlartaud commented on #32
@timkelty @diggy Interesting ... I'm using jit-grunt too. Maybe that the problem about shipit/orchestrator being initialized too late comes from there ?

[2015-12-17 13:05] timkelty commented on #36
@tlartaud so you're using `jit-grunt` and not seeing the same thing @diggy is [here](https://github.com/timkelty/shipit-shared/issues/32#issuecomment-164842377)?

[2015-12-18 10:25] tlartaud commented on #36
@timkelty Yeah, but i have only one config parameter. I should try one day to replace jit-grunt with a standard load-grunt-config and see if the problem about orcherstrator binded to late persists.

[2015-12-21 14:42] timkelty commented on #37
@tlartaud were you able to test this?

[2015-12-22 11:40] tlartaud commented on #37
@timkelty Hi,

I've just tried this, sorry for the delay, had a lot of work.
I installed your node for the `fix-create-dirs-chroot`, and I remade the hack mentionned here : https://github.com/timkelty/shipit-shared/issues/32#issuecomment-145037233, and updated shipit-deploy.

Find below the relevant part of the log.

[code]

Well, it works. However, its creating a lot of red lines. Maybe should yo

[2016-01-25 18:25] tlartaud commented on #37
@timkelty Hi, can you merge this please ?

[2016-01-25 20:40] timkelty commented on #37
Merged in shipit-shared@4.4.0

[2016-01-25 20:40] #37 closed, assigned to timkelty

[2016-01-25 22:19] tlartaud commented on #37
@timkelty Thanks a lot !

[2016-02-04 16:50] PhilippBaschke opened #38 "Cannot create symlink, because shipit-shared created directory"
I am not sure if I miss something or understand something wrong; **Sorry if I do**!

I have the following scenario:

[code]

I expect **shipit-shared** to create `shared/app/uploads` and a symlink `releases/xxx/app/uploads -> shared/app/uploads` but it fails with the following error:

[code]

As far as I understand the offending `/releases/xxx/app/uploads` directory is created by [create-dirs.js:4

[2016-02-04 16:57] timkelty commented on #38
Your description makes sense, sounds like your understanding is correct.
**Note:** You shouldn't need the `ignores` line explicitly, assuming `app/uploads` is .gitignored.

Can you try setting `shared.overwrite = true` in your config?

It defaults to false for reasons detailed [here](https://github.com/timkelty/shipit-shared/#sharedoverwrite), but probably will change [soon](https://github.com/tim

[2016-02-04 17:53] PhilippBaschke commented on #38
Thank you for the Note. That is good to know ;)

`shared.overwrite = true` works. It seemed strange to me that the directory is created just to be deleted (I guess I do not understand the reason why it is created properly).
I just wanted to make you (and other users) aware that this error might occur.

[2016-02-04 19:05] timkelty commented on #38
It is strange (and quite silly). It will definitely be changing with the next version.

Quick history/explanation:

It actually is just creating all the parent directories _up until_ the symlink. This is so the symlink command doesn't fail. This isn't actually this problem.

Initially, `shipit-shared` worked exactly how you would have expected, no `overwrite` required. Just before it makes the sym

[2016-02-04 21:10] PhilippBaschke commented on #38
Thank you for taking the time to clarify.
I'll just set `overwrite: true`.
Thank you for the module by the way. Helps a lot. :+1:

[2016-02-04 21:11] timkelty commented on #38
No problem, thanks for using it.

[2016-02-04 21:11] #38 closed, assigned to nobody

[2016-05-25 13:50] joerx opened #41 "Warning: .then() only accepts functions but was passed: [object Object]"
Reproduce by simply running the tests. (node v4.4.2, node v5.9.1, bluebird@3.4.0) Generates the following output:

[code]

Similar problem occurs in `create-dirs.js:64:8`.

Tracked it to the following snippet:

[code]

`mapPromise()` returns a Promise object, not a function. Simple fix would be to wrap the argument for the first `.then()` into a function. Will submit a PR shortly.

[2016-10-06 11:22] albertogasparin commented on #33
+1 on this as it would be helpful

[2016-11-17 17:00] dbernar1 commented on #41
Thanks @joerx, that helped.

[2016-11-21 17:43] tlartaud opened #43 "Shipit-shared incompatible with latest shipit-deploy ?"
Hi there, Hi @timkelty  !

Dunno if you are still working on this, but I recently updated shipit-deploy to latest version, and this is not working. I got some blank resultst in the console.
[code]

To make it work again, I had to rollback to old version by specifying them in my package.json
[code]

Would you plan to check it out ?

The problem is that shared option are not passed to shipit-shared.

[2016-11-21 18:49] timkelty commented on #43
I'll check it out today.

[2016-11-22 14:37] timkelty commented on #41
Fixed in 4.4.2, thanks @joerx!

[2016-11-22 14:37] #41 closed, assigned to nobody

[2016-11-22 14:49] timkelty commented on #43
Can you reinstall and make sure you have `shipit-cli@1.5.2` and try again?

There was a change to how defaults are merged in that was published as a non-breaking change, but should have been published as a breaking change.

Details here: https://github.com/shipitjs/shipit/issues/137

[2016-11-22 14:57] tlartaud commented on #43
hi, thank you for this answer ! do you mean I need to add something else than grunt-shipit and shipit-shared on m'y package.json ? Actualités, I was just adding them. grunt-shipit was installing shipit-cli and shipit-utils himself so I wasnt registering it. Maybe it wasnt installing the last versions ? I'll check it out and Will let u know

[2016-11-22 15:01] timkelty commented on #43
`grunt-shipit` requires `shipit-cli@^1.0.1`, which as of now should install `1.5.2`.

At some point, it may have installed `shipit-cli@1.5.1`, which had a breaking change that should not have been published, and was fixed in `1.5.2`.

I would just delete your `node_modules` and reinstall.

[2016-11-22 15:15] tlartaud commented on #43
This is what I have actually in my Project stack generator :

`package.json`
[code]

[code]

[code]

[code]

[code]

[code]

So, apparently, wrong versions are getting installed. Not sure why .. It looks like shipit-cli is installed as a child of grunt-shipit, like if it was bundle inside it. Maybe that just adding explicitly shipit-cli version 1.5.2 in my package.json file fix the problem.

[2016-11-22 15:18] timkelty commented on #43
Hmm not sure either. Maybe something is cached.

`shipit-cli@1.5.1` is your problem. Make sure you have `shipit-cli@1.5.2`.
Which, if you re-install everything, should happen, since `grunt-shipit` requires `shipit-cli@^1.0.1`

[2016-11-22 15:19] tlartaud commented on #43
This is a fresh install, I ran npm install for the first time on a new project created to test this

[2016-11-22 15:24] timkelty commented on #43
Not sure what to tell you then...1.5.2 is the latest published version of `shipit-cli` in that revision range:

[code]

[2016-11-22 15:24] tlartaud commented on #43
Ok, don't know why it was not installing the latest version, anyway, thanks for pointing me out the correct version.

I've just added `"shipit-cli": "^1.5.2"` to my package.json and ran npm install and it installed the correct version. Will try a deploy soon, but I'm pretty sure it will work now, be cause I had testing and isolated the problem, and it was, as you said, a merge problem with the `_.

[2016-11-22 15:24] #43 closed, assigned to nobody

[2016-11-22 15:25] timkelty commented on #43
Sounds good!

[2016-11-22 15:28] tlartaud commented on #43
I will publish this stack in a few weeks. If you are interested to see how I use your plugin, do not hesitate to follow https://github.com/wp-jungle ;)

[2016-11-25 17:01] adamj88 opened #44 "[FR] Be able to configure shared directory name"
The `shared/` directory name is hard coded here: https://github.com/timkelty/shipit-shared/blob/master/lib/init.js#L21

Would it be possible to be able to set this in the configuration, falling back to `shared/` to prevent any BC break?

[2016-11-30 17:26] timkelty commented on #44
This already should be configurable...
Try settings `shipit.config.shared.basePath` - it _defaults_ to `path.join(shipit.config.deployTo, 'shared')`, but can be set manually.

[2016-11-30 17:27] timkelty commented on #44
Unless you specifically just wanted to change the directory _name_ and not the whole path...

[2016-12-02 09:29] adamj88 commented on #44
Thats correct, my suggestion is to be able to configure the directory name independently.

So `shipit.config.deployTo` as the path, and a separate configuration for the `'shared'` string, `shipit.config.dirName` possibly?

I've got a similar issue open on shipit-deploy: https://github.com/shipitjs/shipit-deploy/issues/128 - the net result should be that you're able to configure all directory names

[2017-08-07 21:57] gagarine commented on #33
This is quiet important when you don't know your home full path of in your target VM. Your ~ is in somethings like /home/a5af69633fa20da5745ffbc/ and each VM has a new random path.

[2017-08-08 11:29] timkelty commented on #33
@gagarine haven't had time yet, but am certainly open to a PR.